<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Error Page</title>
    <link rel="stylesheet" href="../../static/css/stylesheet.css"/>
    <link rel="stylesheet"  th:href="@{/css/stylesheet.css}"/>

    <link rel="icon" href="../../static/css/database-icon.svg">
    <link rel="icon"  th:href="@{/css/database-icon.svg}"/>
</head>
<body>
<!-- <body style="background-image:background-image-code.jpg"> -->
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/static" style="text-decoration:none;color:whitesmoke;" >BADA Spring Boot Project - Part II</a>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-4 mt-5">
            <form method="post" th:action="@{/static}">
                <div class="form-group">
                    <div><b><p style="font-size:36px;text-shadow:2px 2px black; ">Error</p></b></div>
                    <div><p style="font-size:32px;text-shadow:2px 2px black;">Other error</p></div>
                </div>
                <button class="btn btn-primary" type="submit" value="Sign In" style="font-size:20px; border:none; color: whitesmoke;" style="widht:200px" style="font-weight:400">Back to home page</button>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</html>