<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button onclick="window.location.href='/main';">
    Powrót
</button>
<table border = "1" cellpadding = "10"> <!-– border –
    obramowanie, cellpadding – rozmiar komórki -->
    <!-- Table header -->
    <thead>
    <tr> <!-- Table row -->
        <th>NR_CZLONKA</th> <!–- Table column -->
        <th>Imie</th>
        <th>Nazwisko</th>
        <th>Pesel</th>
        <th>Nr. telefonu</th>
        <th>ACTION</th>
    </tr>
    </thead>

    <!-- Table body -->
    <tbody>
    <tr th:each = "czlonek : ${czlonekList}">
        <td th:text = "${czlonek.NR_PARTNERA}">Item Name</td>
        <td th:text = "${czlonek.NAZWA}">Item Name</td>
        <td th:text = "${czlonek.STRONA_INTERNETOWA}">Quantity</td>
        <td th:text = "${czlonek.SPOSOB_WSPOLPRACY}">Amount</td>
        <td th:text = "${czlonek.NR_KLUBU}">Amount</td>
        <td>
            <a th:href="@{'/edit/' + ${czlonek.NR_PARTNERA}}">Edytuj</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a th:href="@{'/delete/' + ${czlonek.NR_PARTNERA}}">Usun</a>
        </td>
    </tr>
    </tbody>
</table>
<button onclick="window.location.href='/new';">
    Nowy rekord
</button>
</body>
</html>