<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--ten działa po odpaleniu serwera  -->
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}"/>
    <!--ten działa na podglądzie statycznym linkują do tego samego   -->
</head>
<body>
<button onclick="window.location.href='/main';">
    Powrót
</button>
<table border = "1" cellpadding = "10"> <!-– border –
    obramowanie, cellpadding – rozmiar komórki -->
    <!-- Table header -->
    <thead>
    <tr> <!-- Table row -->
        <th>ID_STUDENTA</th> <!–- Table column -->
        <th>Imie</th>
        <th>Nazwisko</th>
        <th>Pesel</th>
        <th>TELEFON</th>
        <th>ACTION</th>
    </tr>
    </thead>

    <!-- Table body -->
    <tbody>
    <tr th:each = "student : ${studentList}">
        <td th:text = "${student.ID_STUDENTA}">Item Name</td>
        <td th:text = "${student.IMIE}">Item Name</td>
        <td th:text = "${student.NAZWISKO}">Quantity</td>
        <td th:text = "${student.PESEL}">Amount</td>
        <td th:text = "${student.TELEFON}">Amount</td>
        <td>
            <a th:href="@{'/edit/' + ${student.ID_STUDENTA}}">Edytuj</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a th:href="@{'/delete/' + ${student.ID_STUDENTA}}">Usun</a>
        </td>
    </tr>
    </tbody>
</table>
<button onclick="window.location.href='/new';">
    Nowy rekord
</button>
</body>
</html>