<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>EDYCJA</title>
</head>
<body>
<div align="center">
  <h1>Dodaj nowego członka</h1>
  <form action="#" th:action="@{/update}" th:object="${czlon}" method="post">
    <table border="1"  cellpadding="10">
      <tr>
        <td>NR_PARTNERA:</td>
        <td><input type="text" th:field="*{NR_PARTNERA}" readonly="readonly"></td>
      </tr>
      <tr>
        <td>NR_PARTNERA:</td>
        <td><input type="text" th:field="*{NAZWA}"></td>
      </tr>
      <tr>
        <td>strona:</td>
        <td><input type="text" th:field="*{STRONA_INTERNETOWA}"></td>
      </tr>
      <tr>
        <td>sposob wspolpracy:</td>
        <td><input type="text" th:field="*{SPOSOB_WSPOLPRACY}"></td>
      </tr>
      <tr>
        <td>nr_klubu:</td>
        <td><input type="text" th:field="*{NR_KLUBU}"></td>
      </tr>
      <tr>
        <td colspan="2"><button type="submit">Save</button></td>
      </tr>
    </table>
  </form>
</div>

</body>
</html>