<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Main Page</title>
    <link rel="stylesheet" href="stylesheet.css" />


</head>
<body>

<!--<script>-->
<!--    setTimeout(function(){-->
<!--        window.location.href = 'https://www.tutorialspoint.com/javascript/';-->
<!--    }, 5000);-->
<!--</script>-->

<!--<script type="text/javascript">-->
<!--    function Redirect()-->
<!--    {-->
<!--        window.location="http://www.wp.pl";-->
<!--    }-->
<!--    document.write("[[${#httpServletRequest.remoteUser}]] You will be redirected to a new page in 5 seconds");-->
<!--    setTimeout('Redirect()', 5000);-->
<!--</script>-->


<!-- Navigation -->
<nav >
    <div class="div-index-nav">
        <a class="navbar-brand-index" href="/">BADA Spring Boot Project - Part II</a>

            <span class="navbar-toggler-icon"></span>
        </button>
        <div >
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link main-in-main" href="../templates/index.html#">Home</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="../templates/main.html#">Main </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../templates/database.html#">Database</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link-mikolaj" >You are logged in as: <b style="text-transform:capitalize">Mikołaj</b></a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">

        <div class="col-md-10 mt-5">
            <form method="post" th:action="@{/main}">
                <div class="form-group">
                    <label inline="text">Welcome <a style="color:lightskyblue; text-transform:capitalize"><b className="name-mikolaj"><h2>Mikołaj</h2></b></a> to the main page!</label>
                    <div>If you want to logout, click "Logout" button under this text.</div>
                </div>

                <button class="btn btn-primary" type="submit" onclick="successfullyLogout()" value="Sign Out">Logout</button>
            </form>
        </div>

    </div>
</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

</body>
</html>