<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login Page</title>


    <link rel="stylesheet" href="stylesheet.css" />

    <!--        tam działa css tylko nie dawaj komentów w srodku bo przestanie :(-->
<!--    <style>-->
<!--        h1   {color: red;}-->
<!--        label {color:blue;}-->
<!--        body {-->
<!--            display:flex;-->
<!--            flex-direction: column;-->
<!--            }-->
<!--        html {background-image: url('./templates/images/background-image-code.jpg') ;}-->



<!--        </style>-->
</head>
<body>
<!-- Navigation -->
<nav >
    <div class="container">
        <a class="navbar-brand" href="/">BADA Spring Boot Project - Part II</a>

            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link home-link-in-login" href="../templates/index.html#">Home</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link login-in-login" href="#">Login
<!--                        <span class="sr-only">(current)</span>-->
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>


<div class="container">

    <div class="row">
        <div class="col-md-4 mt-5">

            <form method="post" th:action="@{/login}">

                <div class="form-group">
                    <label class="login-label-to-move-right" for="login">Login:</label>
                    <input class="login-input-to-move-up" id="login" type="text" placeholder="Enter login" autocomplete="off" class="form-control" name="username"/>
                </div>

                <div class="form-group">
                    <label for="password">Password:</label>
                    <input id="password" type="password" placeholder="Enter your password" autocomplete="off" class="form-control" name="password"/>
                </div>

                <div th:if="${param.error}" style="color:red; margin-bottom:15px">
                    ERROR: Invalid username or password!
                </div>

                <button class="btn btn-primary" type="submit" value="Sign In">Login</button>
            </form>
        </div>
    </div>
</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>