<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Main Page</title>
<!--    <link rel="stylesheet" href="../static/css/stylesheet.css" />-->
<!--    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>-->

    <!--ten działa po odpaleniu serwera  -->
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}"/>
    <!--ten działa na podglądzie statycznym linkują do tego samego   -->
    <link rel="stylesheet" href="../static/css/stylesheet.css"/>

    <link rel="icon" href="../static/css/database-icon.svg">
    <link rel="icon"  th:href="@{/css/database-icon.svg}"/>
</head>
<body>


<!-- Navigation -->
<nav >
    <div class="container-main">
        <a  href="/">BADA Spring Boot Project - Part II</a>

          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}">Home</a>
                </li>

                <li class="nav-item-main active">
                    <a class="nav-link-main" th:href="@{/database}" >Main</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/database}" >Database</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:inline="text" style="color:lightskyblue;">You are logged in as <b style="text-transform:capitalize">[[${#httpServletRequest.remoteUser}]]</b></a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">

        <div class="col-md-10 mt-5">
            <form method="post" action="@{/main}">
                <div class="form-group">
                    <label inline="text">Welcome <a style="color:lightskyblue; text-transform:capitalize"><b><h2>[[${#httpServletRequest.remoteUser}]]</h2></b></a> to the main page!</label>
                    <div>If you want to logout, click "Logout" button under this text.</div>
                </div>

                <button class="btn btn-primary" type="submit" onclick="successfullyLogout()" value="Sign Out">Logout</button>
            </form>
        </div>

    </div>
</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

</body>
</html>